{{extend 'layout.html'}}

<style>
    .search-select {
        width: 300px;
    }
</style>

<div class="p-3 bg-white h-100">
    <!-- Part 1 -->
    <!-- Your Heading -->
    <div class="d-flex justify-content-between align-items-center bg-light p-2 flex-wrap">
        <h5 class="my-1 table-title">Item</h5>
        <div class="d-flex gap-2 my-1">
            <a href="{{=URL(c='item',f='index')}}" class="btn smart-btn btn-outline-secondary btn-sm">
                <i class="fas fa-boxes"></i> Item
            </a>
        </div>
    </div>
    <!-- Your Heading -->

    <!-- Your Form -->
    {{if response.flash:}}
        {{errors = response.flash}}
        <div class="m-0 p-0 alert alert-danger alert-dismissible fade show" role="alert">
            <ul class="m-0">
                {{ for error in errors: }}
                    <li style="font-size: 14px;" class="py-1">{{=error}}</li>
                {{ pass }}
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{pass}}

    {{if access_permission==True:}}
    <form action="{{=URL(c='item',f='add')}}" method="post" class="d-flex flex-wrap gap-3 mt-4 p-2 border rounded" style="min-height: 200px;" enctype="multipart/form-data">
        <!-- Left Part: Input fields -->
        <div class="flex-grow-1" style="flex: 1 1 48%; min-width: 300px;">
            <!-- Full Width -->
            <div class="mb-2 mt-3 mx-3">
                <img id="imagePreview"
                    src="{{=URL('static','images/dummy_brand.png')}}"
                    alt="Item Logo"
                    class="img-fluid border rounded"
                    style="max-height: 200px;"
                    onerror="">
            </div>

            <div class="d-flex flex-column align-items-start justify-content-center mb-2">
                <label for="description" class="form-label">Item Logo</label>
                <input type="file" class="form-control" id="brandImage" name="image_path" accept="image/*">
            </div>

            <div class="d-flex flex-column align-items-start justify-content-center mb-2">
                <label for="packSize" class="form-label">Pack Size</label>
                <select class="form-select form-select-sm select2 search-select" id="packSize" name="pack_size">
                    <option value="">Select a type</option>
                    <option value="EXTRA SMALL">EXTRA SMALL</option>
                    <option value="SMALL">SMALL</option>
                    <option value="MEDIUM">MEDIUM</option>
                    <option value="LARGE">LARGE</option>
                    <option value="EXTRA LARGE">EXTRA LARGE</option>
                </select>
            </div>

            <div class="d-flex flex-column align-items-start justify-content-center mb-2">
                <label for="itemCategory" class="form-label">Item Category</label>
                <select class="form-select form-select-sm select2 search-select" id="itemCategory" name="item_category">
                    <option value="">Select a type</option>
                    <option value="REGULAR">REGULAR</option>
                    <option value="BONUS">BONUS</option>
                    <option value="GIFT">GIFT</option>
                </select>
            </div>

            <div class="d-flex flex-column align-items-start justify-content-center mb-2">
                <label for="status" class="form-label">Status</label>
                <select class="form-select form-select-sm select2 search-select" id="status" name="status">
                    <option value="">Select a type</option>
                    <option value="ACTIVE">ACTIVE</option>
                    <option value="INACTIVE">INACTIVE</option>
                </select>
            </div>

            <div class="d-flex flex-column align-items-start justify-content-center mb-2">
                <label for="itemCarton" class="form-label">Item Carton</label>
                <input type="number" class="form-control" id="itemCarton" name="item_carton" placeholder="Enter Item Carton">
            </div>

            <div class="d-flex flex-column align-items-start justify-content-center mb-2">
                <label for="invoicePrice" class="form-label">Dist Price</label>
                <input type="number" class="form-control" id="invoicePrice" name="invoice_price" placeholder="Enter Inv Price">
            </div>

            <div class="d-flex flex-column align-items-start justify-content-center mb-2">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" name="price" placeholder="Enter Price">
            </div>
        </div>
        <!-- Right Part: Image -->
        <div class="flex-grow-1" style="flex: 1 1 48%;">
            <div class="d-flex flex-column align-items-start justify-content-center mb-2">
                <label for="itemCode" class="form-label">Item Code</label>
                <input type="text" class="form-control" id="itemCode" name="item_id" placeholder="Enter Item Code">
            </div>

            <div class="d-flex flex-column align-items-start justify-content-center mb-2">
                <label for="itemCode" class="form-label">Item Code(Old)</label>
                <input type="text" class="form-control" id="itemCode" name="old_item_id" placeholder="Enter Old Item Code">
            </div>

            <div class="d-flex flex-column align-items-start justify-content-center mb-2">
                <label for="itemName" class="form-label">Item Name</label>
                <input type="text" class="form-control" id="itemName" name="name" placeholder="Enter Item Name">
            </div>

            <div class="d-flex flex-column align-items-start justify-content-center mb-2">
                <label for="itemName2" class="form-label">Item Name (Bn)</label>
                <input type="text" class="form-control" id="itemName2" name="name_bn" placeholder="Enter Item Name (Bn)">
            </div>

            <div class="d-flex flex-column align-items-start justify-content-center mb-2">
                <label for="des" class="form-label">Item Desc.</label>
                <input type="text" class="form-control" id="des" name="des" placeholder="Enter Description">
            </div>

            <div class="d-flex flex-column align-items-start justify-content-center mb-2">
                <label for="unitType" class="form-label">Unit</label>
                <select class="form-select form-select-sm select2 search-select" id="unitType" name="unit_type">
                    <option value="">Select a type</option>
                    {{for val in allowed_units:}}
                        <option value="{{=val}}">{{=val}}</option>
                    {{pass}}
                </select>
            </div>

            <div class="d-flex flex-column align-items-start justify-content-center mb-2">
                <label for="flavorID" class="form-label">Flavor</label>
                <select class="form-select form-select-sm select2 search-select" id="flavorID" name="flavor_id">
                    <option value="">Select a type</option>
                    {{for val in allowed_flavors:}}
                        <option value="{{=val.flavor_id}}">{{=val.brand_name}} | {{=val.flavor_id}} | {{=val.flavor_name}}</option>
                    {{pass}}
                </select>
            </div>

            <div class="d-flex flex-column align-items-start justify-content-center mb-2">
                <label for="itemChain" class="form-label">Item Chain</label>
                <input type="number" class="form-control" id="itemCarton" name="item_chain" placeholder="Enter Item Chain">
            </div>

            <div class="d-flex flex-column align-items-start justify-content-center mb-2">
                <label for="mrp" class="form-label">MRP</label>
                <input type="number" class="form-control" id="mrp" name="mrp" placeholder="Enter MRP">
            </div>

            <div class="d-flex flex-column align-items-start justify-content-center mb-2">
                <label for="vat" class="form-label">Vat</label>
                <input type="number" class="form-control" id="vat" name="vat_amt" placeholder="Enter Vat">
            </div>
        </div>
        
        <div class="w-100 mb-2">
            <button type="submit" class="btn smart-btn btn-outline-secondary btn-sm" value="Save" name="btn_save">
                <i class="fas fa-save"></i> Submit
            </button>
        </div>
        <!-- Full Width -->
    </form>
    {{pass}}
    <!-- Your Form -->
</div>

<script>
    /*function callDefaultImg(imgElement) {
        let myurl = "{{#=URL('download', args=record.image_path)}}";
        let fallbackUrl = 'https://smart.transcombd.com/welcome' + myurl;
        let cleanedUrl = fallbackUrl.replace("/smart_26", "");
        console.log("Fallback URL:", cleanedUrl);
        imgElement.src = cleanedUrl;
    }*/

    $(document).ready(function () {
        $('#brandImage').on('change', function () {
            const [file] = this.files;
            if (file) {
                $('#imagePreview').attr('src', URL.createObjectURL(file));
            }
        });

        $('.select2').select2({
            multiple: false,
            tags: false, 
            allowClear: true,
            placeholder: "Select a type"
        });
    });
</script>